$hp-color: rgb(0, 255, 76);
$attack-color: rgb(245, 6, 6);
$defense-color: rgb(0, 45, 248);
$special-attack-color: rgb(255, 153, 0);
$special-defense-color: rgb(0, 108, 248);
$speed-color: rgb(0, 247, 255);