*{
    margin: 0;
    padding: 0;
}


body{
    background-color: rgb(18, 11, 34);
    font-family: 'Montserrat', sans-serif;
}
h2{
    font-weight: 600;
    font-style: italic;
    text-align: center;
    margin:20px 0 30px;
    color: white;

}
.btn-loadmore button{
    outline: none;
    border: none;
    color:white ; 
    background-color: #916EC9;
    padding: 4px 10px;
}
.btn-loadmore{
    text-align: center;
    width: 100%;
}

.pokemon-collection{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 10px;
    margin-bottom: 20px;
    color: white;

}
.pokemon{
    /* border : 1px solid rgb(43, 236, 43); */
    border-radius: 5px;
    background-color: rgb(32, 21, 95);
}
.pokemon-name{
    text-align: center;
    font-size: 12px;
}

.modal-content{
    background-color: rgb(44, 33, 73);
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.modal-content .pokemon-name{
    font-size: 16px;
    text-transform: uppercase;
}
.modal-content .pokemon-img{
    margin: 0 auto;
    transform: scale(1.2);
}